language: python
cache: pip
python:
  - 3.6
install:
  - pip install nose nose-tap coverage flake8 pylint
  - pip install -r requirements.txt
  - |
        echo "[tcms]" > ~/.tcms.conf
        echo "url = https://tcms.kiwitcms.org/xml-rpc/" >> ~/.tcms.conf
        echo "username = kiwitcms-bot" >> ~/.tcms.conf
        echo "password = $TCMS_PASSWORD" >> ~/.tcms.conf

script:
  - make ci
after_success:
  - |
        pip install coveralls
        coveralls

notifications:
  email:
    on_failure: change
    on_success: never
